# Secrets & credentials
.env.local
.env
gcp-credentials.json

# Node.js dependencies
node_modules/

# Mac system files
.DS_Store
.vercel

# Large files
*.webm
*.mp4
*.mov
analysis/interviews/videos/
venv/
